@media screen and (max-width: 576px) {
  nav > ul {
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    flex-direction: column;
    text-align: center;
    background-color: #004274;
    gap: 0;
    overflow: hidden;
  }
  nav > ul > li {
    padding: 10px;
  }
  .logo {
    font-size: 13px;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    transition: all 0.5s;
  }
  /* banner section styles */
  .banner-container {
    width: 99%;
    margin-top: 20px;
  }
  .banner-content {
    flex-direction: column-reverse;
    margin: 10px;
  }
  .banner-content-item-one {
    width: 98%;
  }
  .banner-content-item-one h1,
  .about-title {
    font-size: 27px;
    margin-top: 17px;
  }
  .banner-content-item-one p,
  .about-description {
    text-align: justify;
  }
  .banner-content-item-two img,
  .about-content-image img {
    width: 97%;
    border: 3px solid #004274;
  }
  .banner-content-item-one button {
    margin-top: 23px;
    width: 100%;
  }
  /* about section */
  .about-container {
    max-width: 100%;
    margin-top: 70px;
  }
  .about-container-title {
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 55px;
  }
  .about-content {
    flex-direction: column;
    margin: 10px;
  }
  .about {
    width: 100%;
    margin-top: 20px;
  }
  .about-skills {
    text-align: justify;
  }
  /* skills section styles */
  .skills-container {
    max-width: 100%;
    margin: 10px;
  }
  .skills-header {
    font-size: 35px;
  }
  .skill-content {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .skill {
    width: 90%;
    max-width: 90%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }

  /* service section styles */

  .services-section {
    max-width: 100%;
    margin: 10px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-top: 30px;
  }
  .service-card {
    width: 90%;
    margin: 10px auto;
  }
  .service-card:hover {
    width: 90%;
    margin: 10px auto;
  }
  /* education section styles */
  .education-section {
    max-width: 100%;
    display: grid;
    margin: 10px;
    margin-top: 90px;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero {
    margin-top: 50px;
  }
  .level {
    margin-top: -30px;
  }
  /* projects section styles */
  .container,
  .service-card {
    max-width: 100%;
    margin: 40px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .card {
    width: 90%;
    margin: 20px auto;
  }
}
