@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+CU:wght@100..400&display=swap");

/* font-family: "Kanit", sans-serif; */
/* font-family: "Playwrite CU", cursive; */
* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100%;
  width: 100%;
}
nav {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #004274;
  position: relative;
  height: 70px;
}
.logo {
  color: white;
  font-size: 20px;
  font-family: "Playwrite CU", cursive;
}
nav > ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav > ul > li {
  list-style-type: none;
  font-family: "Kanit", sans-serif;
}
nav > ul > li > a {
  text-decoration: none;
  color: white;
}
.menu-icon {
  color: white;
  font-size: 30px;
  display: none;
}

/* banner section styles */
.banner-container {
  width: 1100px;
  margin: 50px auto;
}
.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content-item-one {
  width: 50%;
}
.banner-content-item-one h1 {
  font-family: "Playwrite CU", cursive;
  font-size: 40px;
}
.banner-content-item-one p {
  font-family: "Kanit", sans-serif;
  margin-top: 8px;
}
.banner-content-item-one button {
  background-color: #004274;
  border: none;
  padding: 10px 50px;
  color: white;
  font-family: "Playwrite CU", cursive;
  border-radius: 6px;
  margin-top: 10px;
}
/* .banner-content-item-two {
  width: 50%;
} */

@keyframes borderBlink {
  50% {
    border-color: transparent;
  }
}

.banner-content-item-two img {
  width: 400px;
  border: 10px solid #004274;
  animation: borderBlink 5s infinite;
  border-radius: 6px;
}
